.card {
    transform:translateZ(0);
    transition: transform 1.2s ease-out;
    
}
.card:hover{
    transform: scale(1.05);
  
}
.profile_pic{
    max-width: 300px;
    border-radius: 50px 50px;
    -webkit-border-radius: 50px 50px;
    -moz-border-radius: 50px 50px;
    -ms-border-radius: 50px 50px;
    -o-border-radius: 50px 50px;
}
